
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background: #fff;
    color: #333;
    overflow: hidden;
    overflow-y: scroll;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    background: #040b14;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    z-index: 5;
}
.profile {
    text-align: center;
}
.profile-img {
    width: 120px;
    border: 8px solid #2e363f;
    border-radius: 50%;
}
.name {
    font-size: 24px;
    margin: 10px 0;
}
.name a {
    color: #fff;
    text-decoration: none;
}
.social-links {
    margin-top: 10px;
}
.social-links a {
    font-size: 20px;
    color: #fff;
    margin: 0 5px;
    display: inline-block;
    background-color: #2e363f; 
    padding: 10px;
    border-radius: 50%;
}
.social-links a:hover {
    background-color: #1684c4;
}
.nav-menu {
    margin-top: 30px;
}
.nav-menu ul {
    list-style: none;
}

.nav-menu ul li{
    margin: 15px 0;
}

.nav-menu ul li a i,
.nav-menu ul li a svg, .dropdown label i {
    margin-right: 20px;
}
label[for="dropdown-toggle"] i:nth-child(3), .deep-dropdown label[for="deep-dropdown-toggle"] i:nth-child(1) {
    margin-left: 40px;
    background-color: #2e363f;
    border-radius: 50%;
    padding: 5px;
}

.nav-menu ul li a,
.nav-menu ul li label {
    color: #b1b0b0;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-menu ul li:hover a i, .nav-menu ul li:hover a svg, .nav-menu ul li:hover label i:nth-child(1){
    color: #1684c4;
}
.nav-menu ul li:hover a span,  .nav-menu ul li:hover label i:nth-child(3),  .nav-menu ul li:hover label span {
    color: #fff;
}
.dropdown label {
    display: flex;
    cursor: pointer;
}
.submenu {
    display: none;
    list-style: none;
    padding: 0.5rem;
    margin: 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e1e3e4;
    background-color: #040b14;
}

.submenu li {
    margin: 8px 0;
}

.dropdown input[type="checkbox"]:checked+label+.submenu {
    display: block;
}

.submenu li a:hover {
    background-color: #2e363f;
    color: #fff;
}

.submenu li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 0px;
    display: block;
    transition: color 0.3s ease;
}

input {
    display: none;
}

.deep-dropdown .submenu {
    left: 0;
    margin: 5px 0 0;
    border: 1px solid #d2d3d4;
    border-radius: 4px;
    background-color: #040b14;
    padding: 10px;
}

.deep-dropdown .submenu li a:hover {
    color: #ffffff;
    background-color: transparent;
}

.deep-dropdown .submenu li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

/* Position of section */
.position {
    margin-left: 260px;
}

.position .container {
    max-width: 1000px;
    margin: auto;
}

/* style of title*/
.h2 {
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.under-score {
    width: 50px;
    height: 4px;
    background-color: #1684c4;
    margin: 10px 0;
}

.description {
    font-size: 16px;
    margin-bottom: 40px;
}

/* Hero Section */
.hero {
    padding: 60px 20px;
    margin-left: 20%;
    margin-top: -13%;
    margin-right: -10%;
}
.hero .hero-img img {
    width: 100%;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 122%;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 1;
}
.hero-container {
    color: #fff;
    position: relative;
    left: 40px;
    top: 26rem;
    z-index: 5;
}
.hero-container h1 {
    font-size: 55px;
}
.hero-container p {
    font-size: 24px;
    margin-top: 10px;
}


/* About Section */
.about-content {
    display: flex;
    gap: 20px;
    align-items: center;
}
.about-img {
    flex: 1;
    min-width: 250px;
}
.about-img img {
    width: 100%;
    top: 0;
}
.about-text {
    position: relative;
    top:15px;
    
}
.about-right {
    display: flex;
    justify-content: space-between;
}
.about-text p {
    margin-bottom: 20px;
}

.about-right ul {
    list-style: none;
    padding: 0;
}

.about-right ul li {
    margin-bottom: 15px;
}

.about-right ul li i {
    color: #1684c4;
    margin-right: 10px;
}

.about-right ul li strong {
    display: inline-block;
    width: 120px;
    color: #000000;
}

/* Facts Section */
.facts {
    margin-left: 260px;
    background: #f5f8fd;
}

.facts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fact-item {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.fact-item i {
    font-size: 40px;
    color: #1684c4;
    margin-bottom: 10px;
}

.fact-item .counter {
    font-size: 32px;
    color: #040b14;
    font-weight: bold;
}

.fact-item p {
    margin-top: 5px;
    font-size: 14px;
    color: #6c757d;
}


/* skills section start */
#skills{
    background-color: #f4fafd;
}
.skills-all{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}
.skill {
    margin-bottom: 10px;
    width: 50%;
    display: inline;
}
.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
.skill-bar {
    background: #e0e0e0;
    overflow: hidden;
    height: 10px;
    width: 95%;
}
.skill-fill {
    background: #1684c4;
    height: 100%;
    text-align: right;
    padding-right: 10px;
    color: #fff;
    line-height: 20px;
}
.skill-p{
    display: flex;
}

/* section Resume */
.container-resume {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #444;
    font-weight: lighter;
}

.resume-left {
    width: 100%;
}

.resume-right {
    width: 100%;
}

.sumary h2 {
    font-size: 30px;
    margin-left: 10px;
}

.m {
    position: relative;
    width: 90%;
    border: #34b4ff 2px solid;
    border-width: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    color: #2e363f;
    font-size: 14px;
    left: 10px;
    margin-top: 13px;
    margin-bottom: 10px;
}

.m .circle {
    width: 15px;
    height: 15px;
    border: #34b4ff 2px solid;
    border-radius: 100%;
    left: -8px;
    top: -13px;
}

.m .p {
    font-style: italic;
    font-weight: lighter;
}

.m div {
    position: relative;
    left: 30px;
}

.m div ul {
    position: relative;
    left: 20px;
}

.resume-left {
    margin-bottom: 15px;
}


/* section portfolio */
#portfolio{
    background-color: #f4fafd;
}
.portfolio-menu ul {
    position: relative;
    display: flex;
    left: 18rem;
    margin-bottom: 20px;
}

.portfolio-menu ul li {
    position: relative;
    list-style: none;
    left: 30px;
    display: inline;
}

.portfolio-menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #292828;
    margin-right: 15px;
    text-align: center;
    display: inline;
}

.portfolio-menu ul li a:hover {
    color: #1684c4;
    text-decoration: underline 2px solid #1684c4;
}

.images-portfolio img {
    width: 240px;
    height: 240px;
}

.position-img {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

/* services  */
.Service-st {
    margin-left: 305px;
    margin-top: 20px;
    padding: 20px 0px;
    width: 100%;
    height: 100%;
}

.Service-st .services {
    box-sizing: border-box;
    width: 77%;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.service {
    width: 33%;
    height: 200px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.service .left {
    position: relative;
    width: 20%;
    height: 30%;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.service .left i {
    position: absolute;
    background-color: #34b4ff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    padding: 10px;
}

.service .right {
    width: 70%;
}

.service .right h3 {
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;
}

.service:hover,
.right h3:hover {
    color: #58aaf1;
    cursor: pointer;
    background-color: #ffffff;
}


/* Testimonies */
.testi {
    background-color: #f4fafd;
    padding-bottom: 20px;
}

.testimonies {
    position: relative;
    width: 100%;
    height: auto;
    background: rgba(228, 222, 222, );
    display: flex;
}

.testimonies-items {
    flex-direction: column;
    gap: 20px;
}

.testimonie {
    width: 90%;
    height: 50%;
    background-color: #ffffff;
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.05);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.testimonie p {
    text-align: center;
}

.testimonie .dark {
    position: relative;
    left: 40%;
    bottom: -3%;
    background-color: #ffffff;
    rotate: -48deg;
    width: 30px;
    height: 30px;
    border-radius: 5%;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.01);
}

.profil {
    position: relative;
    width: 90%;
    height: 30%;
}

.profil img {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: 40%;
}

.profil h3,
.profil p {
    text-align: center;
}

.testimonie p i {
    color: #1684c4;
    font-size: 20px;
}


/* contact */
.forms {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.adresses {
    width: 40%;
    height: auto;
    box-shadow: 5px 0px 5px 5px rgba(114, 113, 113, 0.05);
    margin-left: 20px;
    padding: 20px;
}

.adress {
    display: flex;
    margin-bottom: 20px;
}

.adress .left {
    margin-right: 15px;
}
.adress .map{
    position: relative;
    display: block !important;
    width: 100% !important;
    background: #fff !important;
    border: 1px solid #9b9d9e;
    height: 180px;
}

.contact-form {
    width: 55%;
    height: auto;
    box-shadow: 5px 0px 7px 7px rgba(114, 113, 113, 0.05);
    padding: 20px;
}

.contact-top {
    display: flex;
}

.m-1,
.m-2 {
    padding-right: 30px;
}
.m-1 input, .m-2 input, .contact-between input, .contact-bottom textarea{
    position: relative;
    display: block !important;
    width: 100% !important;
    background: #fff !important;
    border: 1px solid #9b9d9e;
    height: 40px;
}
.contact-bottom textarea{
    height: 150px;
}
.contact-top, .contact-between, .contact-bottom{
    margin-bottom: 15px;
}
.contact-form button{
    position: relative;
    font-size: 15px;
    color: #ffffff;
    background-color: #149ddd;
    border: 0px;
    border-radius: 50px;    
    padding: 10px 30px;
    margin-top: 10px;
    left: 30%;
}


/* footer */
.copyright {
    padding: 20px 40px;
    border: 1px solid #9b9d9e;
    background-color: #f4fafd;
    margin-top: 20px;
    height: 20%;
}

.copyright p:nth-child(1) {
    color: #333;
    position: relative;
    left: 37rem;
    display: inline;
}

.copyright a {
    color: #fb911f;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}