body{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
.navbar{
    background-color: #06101b;
    position: fixed;
    width: 20rem;
    height: 42rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    z-index: 5;
}
.navbar img{
    position: absolute;
    height: 7rem;
    width: 7rem;
    margin-top: 15px;
    border-radius: 50%;
    border: 10px solid #444242a1;
    top: -5px;

}
.navbar h3{
    position: absolute;
    color: #fff;
    margin-top: 15px;
    top: 110px;
}
.menu-toggle{
    position: absolute;
    display: flex;
    padding: 20px;
    margin-top: 210px;
    justify-content: center;
    top: -3rem;
}
.menu-toggle a{
    padding: 10px;
    color: white;
    background-color: #494747;
    border: 10px solid #494747;
    border-radius: 50%;
     margin-left: 10px; 
    width: 50px;
    height: 50px;
}
.navbar ul{
    position: relative;
    top: 15rem;
    left: -5rem;
}
.navbar ul li{
    list-style-type: none;
    margin: 30px;
}
.navbar ul li a{
    position: relative;
    text-decoration: none;
    color: #b1b0b0;
    font-size: 20px;
}
.navbar ul li a i{
    margin-right: 10px;
}
.principal{
    margin-left: 250px;
} 
.sec1{
    position: relative;
}
.principal .sec1 .img{
    position: relative;;
    background-color: #06101b;
}
.principal .sec1 .img img{
    width: 100%;
    height: auto;
    top: 0;
    position: relative;
}
.iam{
    position: relative;
    top: 20rem;
    left: 10rem;
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    z-index: 12;
}
